/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900')*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	background: #1a1a1a;
	;
	padding: 1rem 8rem;
	z-index: 1000;
}

.navbar .navbar-brand {
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
	color: #fff;
	font-size: 1.1rem;
	padding: 0 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
	color: #D4AF37;
}

.navbar .collapse .btn {
	background: #D4AF37;
	color: #D4AF37;
	font-weight: 600;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	border-color: #D4AF37;

}

.btn-success {
	color: #fff;
	background-color: #D4AF37;
	border-color: #D4AF37;
}

.mid {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;

}

.mid video {
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero {
	position: relative;
}

.mid .hero p {
	width: 55%;
	font-size: 1.1rem;
	letter-spacing: 0.2px;
	padding-bottom: 1rem;

}

.mid .hero a {
	background: #D4AF37;
	font-size: 600;
	padding: 0.6rem 1.4rem;
	border-radius: 30px;
	text-decoration: none;
}

.mid .hero a:hover {
	background: #fff;
}

.profile {
	background: #000000;
	padding-top: 7rem !important;
}

.profile .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.profile .text h6 {
	color: #D4AF37;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 2px;
}

.profile .text h2 {
	color: #F7F5F4;
	font-weight: 600;
	font-size: 2.7rem;
}

.profile .text p {
	color: #F7F5F4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.profile .text a {
	background: #D4AF37;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	margin-top: 1.4rem;
	border-radius: 30px;
	text-decoration: none;
	color: #F7F5F4;

}

.contact {
	background: #000000;
	padding-top: 20rem !important;
}

.contact .one {
	background: #D4AF37;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem 1.2rem;
	border-radius: 7px;
}

.contact .one img {
	border-radius: 40px;
}

.contact .one a {
	background: #D4AF37;
	color: #F7F5F4;
}

/************************************************************************************************/
/******************************* styling the home page ******************************************/
/************************************************************************************************/

.basicLevel {

	background: #000000;
	padding-top: 10rem !important;
}

.basicLevel .row .text {

	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	padding: 2rem 1.2rem;
	margin-left: 0;

}

.basicLevel .text h6 {
	color: #D4AF37;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 2px;
}

.basicLevel .text h2 {
	color: #F7F5F4;
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.basicLevel .text .exe {
	background: #D4AF37;
	padding: 1rem 1.4rem;
	margin-bottom: 1rem;
	border-radius: 30px;
	text-decoration: none;
	color: #F7F5F4;

}

.basicLevel .text p {
	color: #F7F5F4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	text-align: justify;
}

.basicLevel .row img {
	display: block;
	margin-left: auto;
	width: 100%;

}

.miniProject {
	background: #000000;
	padding-top: 0.1rem !important;


}

.miniProject .row {
	max-width: 100%;
}

.miniProject .img {
	padding-bottom: 25rem;
}

.miniProject .row .col {
	background: #D4AF37;
	max-width: 100%;
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1rem 0.1rem;
	margin: 0.5rem 0.5rem;
	border-radius: 15px;

}

.miniProject .row .col .panel .exe {
	color: #F7F5F4;

}

.IntermediateLevel {
	background: #000000;
	padding-top: 10rem !important;
	margin-bottom: 0rem;
}

.IntermediateLevel .text h6 {
	color: #D4AF37;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 2px;
}

.IntermediateLevel .text h2 {
	color: #F7F5F4;
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.IntermediateLevel .text p {
	color: #F7F5F4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	text-align: justify;
}

/************************************************************************************************/
/******************************* styling the About page ******************************************/
/************************************************************************************************/
.aboutPage {
	background: #000000;
	padding-top: 10rem !important;
	margin-bottom: 0rem;
}

.aboutPage .text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.aboutPage .text h6 {
	color: #D4AF37;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 2px;
}

.aboutPage .text h2 {
	color: #F7F5F4;
	font-weight: 600;
	font-size: 2.7rem;
}

.aboutPage .text p {
	color: #F7F5F4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	text-align: justify;
}

.aboutPage .row img {
	width: 50%;
	margin-left: 8rem;
}

.aboutSkills {
	background: #000000;
	padding-top: 10rem !important;
	margin-bottom: 0rem;
}

.aboutSkills .skills ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;

}

.aboutSkills .skills h6 {
	color: #D4AF37;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: 2px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.aboutSkills .skills li {
	color: #F7F5F4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-left: 1.2rem;

}

/************************************************************************************************/
/******************************* styling the exercisses page ******************************************/
/************************************************************************************************/
.basicExercises {
	background: #000000;
	padding-top: 10rem !important;
	margin-bottom: 0rem;
}

.basicExercises h2 {
	color: #D4AF37;
	font-weight: 900;
	font-size: 1.5rem;
	letter-spacing: 0.9px;

}
.basicExercises h1 {
	color: #F7F5F4;
	font-weight: 900;
	font-size: 3.8rem;
	letter-spacing: 1px;

}

.basicExercises .exe {
	display: block;
	padding: 1rem 1.4rem;
	margin-top: 0rem;
	margin-bottom: 1rem;
	text-decoration: none;
	color: #F7F5F4;
}

.basicExercises ul .Liexe {
	list-style-type: circle;
	color: #F7F5F4;
    margin-left: 1rem;
	margin-top: 0rem;

}

.basicExercises a:hover {
	color: #D4AF37;
}
